@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: "Inria Serif";
    background-color: #D8F0FB;
}

.cuadro{
    width: 80%;
    height: 35%;
    background-color: #D8F0FB;
}

button{
    border-radius: 40px;

}
.cont{
    width: 20%;
    align-items: center;
}

div.contenedor_logo{
    margin-top: -5%;
    width: 100%;
    height: 50%;
    justify-content: center;
}

div.logo{
    text-align: center;
}

div.contenedor_botones_i{
    margin-top: -2%;
}

button.b_e{
    border: 1px solid #01696E; /*anchura, estilo y color borde*/
    padding: 4px; /*espacio alrededor texto*/
    background-color: #01696E; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Inria Serif'; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
}

