.container-lg{
  width: 100%;
  height: 100%;
  justify-content: center;
}

img{
  display: block;
  margin: 0px auto;
}

div.boton_encender{
  text-align: center;
}

button.boton_e{
  border: 1px solid #01696E; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #01696E; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: "Inria Serif";/*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

div.boton_volver{
  margin-top: 10px;
  text-align: center;
}

button.volver{
  border: 1px solid #01696E; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #01696E; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: "Inria Serif";/*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}